.custom {
    &__card {
        & .ant-card-head {
            min-height: 48px !important;
        }

        & .ant-card-body {
            padding: 16px;
        }
    }

    &__pageheader {
        padding: 10px 16px;

        & .ant-page-header-heading-extra {
            display: flex;
        }
    }
}

.action {
    &-table {
        color : @color-info;
        cursor: pointer;
    }
}