html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif !important;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 18px;
    line-height: 1.5;
    overflow: hidden;
}