.layout {
    &__header {
        background-color: @color-white;
        padding: 0px 16px;
        display: flex;
        justify-content:space-between;
        height: 48px;
        line-height: 48px;
        &__top {
            display: flex;
            justify-content: space-between;
            height: 100%;
        }
        &__menu{
            width: 80%;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
            border-bottom: 0;
            display: flex;
            align-items: center;
            .ant-menu-item{
                margin: 0px 16px !important;
                .anticon {
                    font-size: 16px;
                }
            }
        }
        &__trigger {
            font-size: 14px;
            line-height: 48px;
            cursor: pointer;
            transition: color 0.3s;

            &:hover {
                color: @color-blue;
            }
        }

        &__user {
          ul{
            display:flex;
            align-items:center;
            justify-content: space-around;
            li {
              list-style-type: none;
              font-size: 16px;
              margin-right: 10px;
            }

            li:last-child {
             margin-right: 0px;
            }

            &-avatar {
                margin-left: 10px;
            }
          }

        }
    }


}