.layout {
    &__wrap {
        height          : 100vh;
        min-width       : 500px;
        background-color: @color-gray;
        box-sizing      : border-box;
        overflow        : hidden;
    }

    &__header {
        padding: 0px 16px;

        & .ant-menu {
            text-transform: uppercase;
        }

        &__trigger {
            font-size  : 18px;
            line-height: 64px;
            cursor     : pointer;
            transition : color 0.3s;
        }

        &__logo {
            float     : left;
            width     : 160px;
            height    : 31px;
            margin    : 16px 24px 16px 0;
            background: rgba(255, 255, 255, 0.3);
        }
    }

    &__sider {
        &__menu {
            height        : 100%;
            font-weight   : 500;
            text-transform: uppercase;
            font-size     : 12px;
            font-family   : Arial, Helvetica, sans-serif;

            .ant-menu-item {
                height     : 42px;
                line-height: 42px;

                span {
                    span {
                        float    : right;
                        font-size: 12px;
                    }
                }
            }

            .ant-menu-submenu {
                .ant-menu-sub {
                    .ant-menu-item {
                        padding-left: 30px !important;
                        font-size   : 12px;
                    }
                }

            }
        }



    }

    &__content {
        margin          : 16px;
        padding         : 16px;
        min-height      : 280px;
        background-color: @color-white;
    }

}