.sider {
    &__menu {
        height: 100%;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        .ant-menu-item {
            height: 42px;
            line-height: 42px;
            span{
                span{
                    float: right;
                    font-size: 12px;
                }
            }
        }

        .ant-menu-submenu {
            .ant-menu-sub {
                .ant-menu-item {
                    padding-left: 30px !important;
                    font-size: 12px;
                }
            }

        }
    }

    &__logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 8px;
    }
    
}