@color-white  : #fff;
@color-blue   : #155fb0;
@color-gray   : #f1f4f6;
@color-gray-1 : #d9d9d9;
@color-primary: #1976d2;
@color-warning: #ff9800;
@color-info   : #2196f3;
@color-success: #4caf50;
@color-text   : #000000de;