.login {
    height         : 100vh;
    display        : flex;
    justify-content: center;
    align-items    : center;

    &-wrap {
        display           : flex;
        justify-content   : center;
        vertical-align    : middle;
        height            : 300px;
        width             : 500px;
        border-radius     : 20px;
        border            : 1px solid @color-gray;
        -webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
        -moz-box-shadow   : 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
        box-shadow        : 0px 10px 20px 0px rgba(50, 50, 50, 0.52)
    }

    &-banner {
        width           : 50%;
        background-color: @color-blue;
        border-radius   : 20px 0px 0px 20px;
    }

    &-form {
        width          : 50%;
        padding        : 16px;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        vertical-align : middle;
    }
}