.pages{
    &__register{
        &-cover{
            height: 100vh;
        }
        &__form{
            border: 1px solid #ddd;
            padding: 40px;
            &__button{
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}